@import url(https://fonts.googleapis.com/css?family=Heebo:100,200,300,regular,500,600,700,800,900);

/*all*/

:root {
	--font-def: 'Heebo';
}

* {
	font-family: var(--font-def);
	padding: 0px;
	margin: 0px;
}

h1 {
	font-size: 44px;
}

a {
	text-decoration: none;
	color: black;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
}

a:hover {
	color: lightcoral;
}

/*all*/

/*Header*/

header {
	display: flex;
	justify-content: right;
	max-width: 90vw;
	width: 100%;
}

header a {
	margin-left: 15px;
}

/*Header*/

/* john__des */

.john__des {
	margin-top: 136px;
}

.des__grid {
	max-width: 45vw;
	margin: 0 auto;
	display: grid;

	grid-template-columns: 60% 40%;
}

.description {
	font-style: normal;
	font-weight: 700;
	font-size: 44px;
	line-height: 60px;

	/* or 136% */

	/* Dark Color */
	color: #21243d;
}

.description div {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	/* Dark Color */
	color: #21243d;
	margin-top: 62px;
}

.des__img {
	display: grid;
	justify-content: right;
}

.description button {
	width: 208px;
	height: 47px;

	margin-top: 51px;
	/* Primary */
	background: #ff6464;
	border-radius: 2px;

	font-family: 'Heebo';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;

	color: #ffffff;
}
/* john__des */

/* posts */
.posts {
	background: #edf7fa;
	margin-top: 71px;
}

.new__posts {
	max-width: 45vw;
	margin: 0px auto;
}

.posts__grid {
	display: grid;

	grid-template-columns: 50% 50%;

	column-gap: 20px;
}

.posts__header {
	display: grid;
	grid-template-columns: 50% 50%;
}

.recent__posts {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 60px;

	/* identical to box height, or 273% */

	/* Dark Color */
	color: #21243d;
}

.all {
	display: grid;
	justify-content: right;
	align-content: center;
}
.all a {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	text-align: right;

	/* Secondry */
	color: #00a8cc;
}

.all a:hover {
	color: #03657b;
}

.post {
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
	border-radius: 4px;
	padding: 23px 24px 7px 24px;
}

.post__header {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 38px;

	/* Dark Color */
	color: #21243d;
}

.post__date {
	display: grid;
	grid-template-columns: 30% 70%;
}

.date {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;

	/* Dark Color */
	color: #21243d;
}

.pattern {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;

	/* Dark Color */
	color: #21243d;
}

.post__mes {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	/* Dark Color */
	color: #21243d;
}

/* posts */

/* works */

.works {
	max-width: 45vw;
	margin: 0px auto;
	margin-top: 15px;
	display: grid;
	row-gap: 24px;
}

.works__header {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 60px;

	/* identical to box height, or 273% */

	/* Dark Color */
	color: #21243d;
}

.work__grid {
	border-top: 1px solid #e0e0e0;
	padding-top: 20px;
	display: grid;
	grid-template-columns: 36% 64%;
}

.des__header {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 44px;

	/* identical to box height */

	/* Dark Color */
	color: #21243d;
}

.des__year {
	display: grid;
	grid-template-columns: 18% 30%;
	gap: 2px;
}

.year {
	width: 75px;
	display: grid;
	justify-content: center;
	align-content: center;
	height: 35px;

	background: #142850;
	border-radius: 16px;
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 60px;

	/* identical to box height, or 333% */

	color: #ffffff;
}

.des__name {
	display: grid;
	justify-content: center;
	align-content: center;
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 29px;

	/* Light */
	color: #8695a4;
}

.work__img {
	display: grid;
	justify-content: stretch;
}

.des__work {
	font-family: 'Heebo';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	/* Dark Color */
	color: #21243d;
}
/* works */
/* footer */

footer {
	height: 120px;
	display: grid;
	justify-content: center;
	align-content: center;
}

.footer__grid {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

.footer__grid div {
	display: grid;
	justify-content: center;
	align-content: center;
}

footer p {
	display: grid;
	justify-content: center;
	align-content: center;
	margin-top: 26px;
}

/* footer */
